/* BARRE DE RECHERCHE DE POKEMON */

#searchBox {
	width: 300px;
	padding: 10px;
	margin: 20px 0;
	font-size: 16px;
}

#suggestions {
	border: 1px solid #ccc;
	max-width: 300px;
	margin-top: -1px;
}

.suggestion-item {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.suggestion-item:last-child {
	border-bottom: none;
}

.suggestion-item:hover {
	background-color: #f0f0f0;
}

.name {
	margin-top: 20px;
	font-size: 18px;
	color: #333;
}

/* CONTAINER DE COMBAT */
.fight-container {
	display: flex;
	justify-content: space-around;
	border: 1px solid #ccc;
}

.selected-poke {
	padding: 1rem;
	width: 50%;
	border-right: 1px solid #ccc;
}

.opponent-poke {
	padding: 1rem;
	width: 50%;
}

.selected-poke,
.opponent-poke {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hp-bar {
	border-radius: 20px;
	height: 20px;
	width: 80%;
	margin-top: 2rem;
	overflow: hidden;
	border: 1px solid #ccc;
	position: relative;
}

.progress {
	background-color: red;
	position: absolute;
	width: 100%;
	height: 100%;
}
