.fight-container.hidden,
.fight-infos.hidden,
.game-menu.hidden,
.hidden {
	display: none;
}

/* BARRE DE RECHERCHE DE POKEMON */

#searchBox {
	width: 300px;
	padding: 10px;
	margin: 20px 0;
	font-size: 16px;
}

#suggestions {
	border: 1px solid #ccc;
	max-width: 300px;
	margin-top: -1px;
}

.suggestion-item {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.suggestion-item:last-child {
	border-bottom: none;
}

.suggestion-item:hover {
	background-color: #f0f0f0;
}

.name {
	margin-top: 20px;
	font-size: 18px;
	color: #333;
}

/* CONTAINER DE COMBAT */
.fight-container {
	display: flex;
	justify-content: space-around;
	border: 1px solid #ccc;
}

.selected {
	border-right: 1px solid #ccc;
}

.poke-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	width: 50%;
}

.hp-bar {
	border-radius: 20px;
	height: 20px;
	width: 80%;
	margin-top: 2rem;
	overflow: hidden;
	border: 1px solid #ccc;
	position: relative;
}

.progress {
	background-color: red;
	position: absolute;
	width: 100%;
	height: 100%;
}

/* BANDEAU DE TOUR DE COMBAT */
.fight-infos {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: skyblue;
	color: white;
	font-size: 1.5rem;
}

.fight-infos.opponent-turn {
	background-color: red;
}

/* GAME MENU */
.game-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem auto;
	gap: 1rem;
	width: 40%;
}

.game-menu button {
	padding: 1rem 2rem;
}
